@*//Member Gowthaman Kangatharan - 101247677*@
@{
    ViewData["Title"] = "Customers Manger";
}
<div>
    <h2>Customers Manger</h2>
    <table class="table table-bordered w-50">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th></th>
            <th></th>
        </tr>
    </table>
    <a class = "btn btn-primary" asp-controller="Home" asp-action="AddCustomers" type="submit" name="AddCustomerBtn">Add Customer</a>
</div>
