@*//Member Gowthaman Kangatharan - 101247677*@
@{
    ViewData["Title"] = "Manage Product Page";
}

<div>
    <h2>Product Manger</h2>
    <table class="table table-bordered table-hover w-50">
        <tr>
            <th>
                <a>Code</a>
            </th>
        </tr>
        <tr>
            <th>
                <a>Name</a>
            </th>
        </tr>
    </table>
</div>
