@*//Member Gowthaman Kangatharan - 101247677*@
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Incident Manger</h2>
    <table class="table table-bordered w-50">
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
            <th></th>
            <th></th>
        </tr>
    </table>
    <a class = "btn btn-primary" asp-controller="Home" asp-action="AddIncident" type="submit" name="AddIncidentBtn">Add Incidents</a>
</div>
