@*//Member Gowthaman Kangatharan - 101247677*@
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Sports Pro Technical Support</h2>
    <p>Sports management software For the sports enthusiast</a></p>
</div>
<div>
    <h2>Admin</h2>
    <table class="table table-bordered table-hover w-50">
        <tr>
            <td>
                <a class="nav-link" asp-controller="Products" asp-action="Products">Manage Products</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="nav-link" asp-controller="Technician" asp-action="Technician">Manage Technicians</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="nav-link" asp-controller="Customer" asp-action="Customer">Manage Customers</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="nav-link" asp-controller="Incident" asp-action="Incident">Manage Incidents</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="nav-link" asp-controller="Registration" asp-action="Registration">Manage Registrations</a>
            </td>
        </tr>
    </table>
</div>
<div>
    <h2>Technicians</h2>
    <table class="table table-bordered table-hover w-50">
        <tr>
            <td>
                <a class="nav-link" asp-controller="Products" asp-action="Index">Update Incidents</a>
            </td>
        </tr>
    </table>
</div>