@*//Member Gowthaman Kangatharan - 101247677*@
@{
    ViewData["Title"] = "Product Page";
}

<div>
    <h2>Product Manger</h2>
    <table class="table table-bordered w-50">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
            <th></th>
        </tr>
    </table>
    <a class = "btn btn-primary" asp-controller="Home" asp-action="AddProducts" type="submit" name="AddBtn">Add Product</a>
</div>
