@*//Member Gowthaman Kangatharan - 101247677*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Registration Page</h1>
    <p>Hello World</a>.</p>
</div>

