@*//Member Gowthaman Kangatharan - 101247677*@
@{
    ViewData["Title"] = "Technicians Page";
}
<div>
    <h2>Technicians Manger</h2>
    <table class="table table-bordered w-50">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </table>
    <a class = "btn btn-primary" asp-controller="Home" asp-action="AddTechnicians" type="submit" name="AddTechniciansBtn">Add Technicians</a>
</div>
